<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">TipPin</p-tab>
    <p-tab value="1">Northwind</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <h2>Airlines</h2>
      <trip-airlines></trip-airlines>
      <h2>Airports</h2>
      <trip-airports></trip-airports>
      <h2>People</h2>
      <trip-people></trip-people>
    </p-tabpanel>
    <p-tabpanel value="1">
      <h2>Categories</h2>
      <northwind-categories></northwind-categories>
      <h2>Products</h2>
      <northwind-products></northwind-products>
      <h2>Orders</h2>
      <northwind-orders></northwind-orders>
      <h2>Employees</h2>
      <northwind-employees></northwind-employees>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>